.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem 0 4rem;
}

/* .cardsContainer {
  margin-bottom: 6rem;
}

.cardsContainer > *:nth-child(1) {
  rotate: 5deg;
  margin-bottom: 2rem;
}

.cardsContainer > *:nth-child(2) {
  rotate: 2.5deg;
}

.cardsContainer > *:nth-child(3) {
  rotate: 0deg;
  margin-bottom: -1rem;
}

.cardsContainer > *:nth-child(4) {
  rotate: -2.5deg;
}

.cardsContainer > *:nth-child(5) {
  rotate: -5deg;
  margin-bottom: 2rem;
}

.cardsContainer > * {
  margin-left: -1.5rem;
} */
