#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardsContainer > * {
  transform-origin: bottom center;
}

.cardsContainer > *:nth-child(1) {
  transform: rotate(-20deg);
}

.cardsContainer > *:nth-child(2) {
  transform: rotate(-10deg);
}

.cardsContainer > *:nth-child(3) {
  transform: rotate(0deg);
}

.cardsContainer > *:nth-child(4) {
  transform: rotate(10deg);
}

.cardsContainer > *:nth-child(5) {
  transform: rotate(20deg);
}

.cardsContainer > * {
  margin-left: -2rem;
}

.cardsContainer > *:first-child {
  margin-left: 0;
  margin-bottom: -10px;
}

.cardsContainer > *:nth-child(5) {
  margin-bottom: -1rem;
}

.resultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}

.resultItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
