.handSection {
  position: relative;
  width: 60%;
  height: 16rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.playerHandSection {
  align-items: start;
}

.computerHandSection {
  align-items: start;
}

.playButton {
  position: absolute;
  top: -10rem;
  padding: 0.5rem 1rem;
  width: 8rem;
  background: radial-gradient(circle at 50% 50%, #24964a 0%, rgb(18, 110, 58) 100%);
  border-radius: 0.6rem;
  text-transform: lowercase;
}

.cardButton {
  position: relative;
  margin-bottom: 0;
  display: flex;
  width: 9.5rem;
  height: 12.625rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}

.cardsContainer {
  display: flex;
}
