.gameSection {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gameContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.setOutcomeModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.debugPanel {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.errorModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
  border-radius: 8px;
  width: 40rem;
}
