.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cardsContainer > * {
  transform-origin: bottom center;
}

.cardsContainer > *:nth-child(1) {
  transform: rotate(-20deg);
}

.cardsContainer > *:nth-child(2) {
  transform: rotate(-10deg);
}

.cardsContainer > *:nth-child(3) {
  transform: rotate(0deg);
}

.cardsContainer > *:nth-child(4) {
  transform: rotate(10deg);
}

.cardsContainer > *:nth-child(5) {
  transform: rotate(20deg);
}

.cardsContainer > * {
  margin-left: -2rem;
}

.cardsContainer > *:first-child {
  margin-left: 0;
  margin-bottom: -10px;
}

.cardsContainer > *:nth-child(5) {
  margin-bottom: -1rem;
}
