.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContentWrapper {
  display: flex;
  justify-content: center;

  background: rgba(6, 58, 68, 0.95);
  border-radius: 1rem;
  padding: 3rem;
  max-width: 70vw;
  max-height: 60vh;
  min-width: 20vw;
  overflow-y: auto;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.modalContent {
  border: 1px solid white;
  border-radius: 0.75rem;
}
