.duelingFieldSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 70%;
  position: relative;
  height: 24rem;
  gap: 2.5rem;
  border-radius: 1rem;
  border: 1px solid blueviolet;
}

.computerCard,
.playerCard {
  transform-style: preserve-3d;
  perspective: 1000px;
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  position: absolute;
}

.computerCard {
  top: -15%;
  transform: translateX(-50%);
}
.playerCard {
  bottom: -15%;
  transform: translateX(-50%);
}

.vsText {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff512f, #dd2476);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-align: center;
  transform-origin: center;
}
