.duelingFieldSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 36%;
  border: 2px dotted royalblue;
  flex-shrink: 0;
  gap: 5rem;
}
