.playButton {
  padding: 1rem;
  min-width: 12rem;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at 50% 50%, #24964a 0%, rgb(18, 110, 58) 100%);
  border-radius: 0.6rem;
  text-transform: lowercase;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero {
  width: 12rem;
  font-weight: bold;
  color: white;
  background: radial-gradient(circle at 50% 50%, #24964a 0%, rgb(18, 110, 58) 100%);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: lowercase;
}
